/*教师-我的课程1 日历*/
.by-mydate{overflow:hidden;background: #fff url("../Images/linear_bg.png") no-repeat; background-size:100% 100%; }
.by-mydate-head{position:relative;margin:30px 15px 0;}
.by-mydate-head .year{ font-size:27px;color:#fff;margin-top:60px;}
.by-mydate-head .month{width:82px;height:82px;border-radius: 50%;color:#fff;background: #fc71c2;text-align: center;padding-top:20px;}

.week-list{margin-top:15px;height:42px;display: flex;display: -webkit-flex;display: -ms-flexbox;}
.week-list li{display: flex;display: -webkit-flex;display: -ms-flexbox;flex: auto;-ms-flex: auto;-webkit-flex: auto;justify-content: center;align-items: center;color:#fff;font-size:13px;border-bottom:2px solid #e5e5e5;}
#week1 li.active{border-bottom-color:#fc71c2;}

.tables{width:100%;display: flex;display: -webkit-flex;display: -ms-flexbox;margin:20px 0 30px;overflow: hidden;}
.tables tbody {width: 100%;}
.tables tbody tr {width:100%;text-align: center;font-size:18px;color:#fff;display: flex;display: -webkit-flex;display: -ms-flexbox;flex-wrap: wrap;-webkit-flex-wrap: wrap;align-items: center;}
.tables tbody tr td {padding:10px 5px;position: relative;flex: 0;flex-grow: 0;flex-shrink: 0;flex-basis: 14%;justify-content: center;}
.tables tr td:last-child,tr td:first-child {color: #999999;position: relative;}
.tables tr td.today{color:#fff;}
.tables .today .bg{display:block;position:absolute;width:40px;height:40px;top:0;left:50%;margin-left:-20px;background: #fc71c2;border-radius: 50%;box-shadow: 2px 2px 5px #666;}
.tables tr .not_this {color: #6a77da !important;}

/*日历改变效果*/
.by-mydate.change{position:fixed;top:0;left:0;width:100%;z-index:20;padding-top:25px;background:#613e9b url("../Images/linear_bg2.png") no-repeat;background-size:100% 100%;transition: all ease-in-out .3s;-webkit-transition: all ease-in-out .3s;}
.by-mydate.change .by-mydate-head{display:none;}
.by-mydate.change .tables{margin:10px 0;}
.by-mydate.change .tables tr{display:none;}
.by-mydate.change .tables tr.show{display:flex;}

.mui-bar .bar-month{position:absolute;font-size:18px;visibility: hidden;}
.mui-bar .mui-icon{display: block;width:50%;line-height: 20px;overflow: hidden;}
.mui-bar.show-month .bar-month{animation: slideInRight .3s linear;-moz-animation: slideInRight .3s linear;-webkit-animation: slideInRight .3s linear;-o-animation: slideInRight .3s linear;visibility: visible;}

/*日历变化css3动画*/
@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: hidden;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}

@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: hidden;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}
