
/*菜单容器*/
.by-grid-tab{background: #fff;text-align: center;padding:15px 0;}
.by-grid-tab .mui-col-xs-3{font-size:18px;border-right:1px solid #f0f0f0;}
.by-grid-tab:last-child{border-right:0;}
.by-grid-tab .txt{font-size:13px;color:#777777;}

.by-grid-check{margin-bottom:20px;}
.by-grid-check .check{border-radius:7px;font-size:12px;margin:0px 9px 9px;height:34px;line-height:34px;color:#777777;background: #f0f0f0;text-align: center;}
.by-grid-check label input:checked+.check{background: #1583cf;color:#fff;}

.by-date-input{padding:11px 15px;text-align: center;font-size:13px;line-height:37px;}
.by-date-input .input{font-size:13px;width:40%;height:37px;border:none;background:#f0f0f0;}

/*主页面容器*/
.by-sign-list .mui-table-view-cell>.mui-slider-right>.mui-btn.mui-icon {font-size: 15px;}
.by-sign-list .mui-table-view-cell>.mui-slider-right>.mui-btn {padding: 15px 20px;}

.by-sign-list .mui-slider-handle{background: url('../Images/sarrow_right.png') right center no-repeat;background-size:auto 50%; }
.by-sign-list .mui-selected .mui-slider-handle{background:none;}
.by-sign-list .mui-media-object{border-radius: 50%;overflow: hidden;text-align: center;border:2px solid #fff;line-height: 50px;max-width: 50px;height: 50px;margin-top:-4px;}
.by-sign-list .mui-media-object img{height:100%;border:4px solid #e5e5e5;border-radius: 50%;}
.by-sign-list .mui-media-body .sex{display:block;width:21px;height:21px;margin-left:10px;background:url('../Images/boy.png') center no-repeat;background-size: 100% 100%; }
.by-sign-list .mui-media-body .gray{color:#999999;font-size:12px;}
.by-sign-list .mui-media-body .red{color:#ff0000;font-size:12px;}

.by-sign-list .msg{font-size:11px;margin-top:10px;padding-left:58px;}
.by-sign-list .msg:first-child{margin-top:0px;}

.by-sign-list .msg .dot{display:block;width:4px;height:4px;border-radius: 50%;background: #1583cf;margin:8px 8px 0 0;}
.by-sign-list .msg .gray{color:#999999;}
.by-sign-list .msg .btn{display:block;font-size:10px;min-width:80px;width:80px;overflow:hidden;height:20px;line-height:20px;background: #1583cf;text-align: center;color:#fff;border-radius:5px;}

/*mui-popover*/
.mui-popover.by-action-sheet{height:60%;background: #fff;}
.mui-popover.by-action-sheet .mui-table-view{margin:0;border-radius:0;text-align: left;color:#333;}
.mui-popover.by-action-sheet .mui-table-view .mui-table-view-cell{padding:0;}

.by-action-sheet .by-sheet-content{width:100%;border:1px solid #fff;}
.by-action-sheet .by-sheet-content .close{position:relative;z-index:999;display:block;width:100%;text-align: center;margin-top:-17px;}
.by-action-sheet .by-sheet-content .close img{width:34px;height:34px;}
